<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-Equipo_16/blob/main/Semana3-Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Semana 3 - Actividad 1**

###Maestría en Inteligencia Artificial Aplicada
###Curso: TC4029.10 Ciencia y analítica de datos (Gpo 10)

###Tecnológico de Monterrey

###Prof: Jobish Vallikavungal Devassia

###**Mateo Cruz Lanchero - Matricula A01793882**
###**Johan Andrés Castro**

4 de octubre del 2022


###**Parte 1: Fundamentos de bases de datos**

**1. Fundamentos de bases de datos y para ciencia de datos.**

Una base de datos  puede entenderse como una colección de información que tiene un orden o estructura específica (datos estructurados) y cuyo contenido está relacionado o vinculado a actividades específicas. Esta base de datos puede contener tablas que consisten en filas (observaciones) y columnas (categorías), y la intersección entre dichos elementos se denomina "celda". Las observaciones categóricas son datos o registros, conjuntos de los cuales forman una  base de datos. Los profesionales que trabajan con bases de datos se denominan "científicos de datos" y necesitan comprender los datos que tienen a su disposición para analizarlos y apoyar la toma de decisiones. Hacer esto requiere amplios conocimientos teóricos y habilidades para trabajar con las tecnologías disponibles que nos permitan manipular  datos y obtener información para encontrar relaciones o predecir el comportamiento de determinado modelo. Debemos tener en cuenta que un buen conjunto de datos también es un aspecto importante, ya que los datos son la parte fundamental del modelo y determinan en gran medida su rendimiento. Un profesional que realiza esta tarea dedica unos 80% de tiempo a la recogida y preparación. Existen un enfoque de bases de datos  que manejan en repositorios estos registros con estándares específicos, que requieren un sistema de gestión de datos (DBMS), y los sus lenguajes para manipular dichos datos, estos incluyen DML (query lenguage) y SQL (Structured Query Language).

**2. Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

Un "almacén de datos", comúnmente conocido como almacén de datos, es una gran base de datos  que reúne datos de múltiples fuentes dispares. Es un sistema diseñado para habilitar y respaldar actividades de análisis y ciencia de datos porque contiene una gran cantidad de datos históricos. Uno de sus desafíos es  tomar  datos de varias fuentes y transformarlos en un esquema que permita consultas simultáneas. 
 Además de la normalización de datos, los datos de múltiples fuentes deben correlacionarse con el trabajo. Hay dos términos clave en el almacenamiento de datos: ETL (extracción, transformación y carga) y ELT (extracción, carga y transformación). Como sugiere su nombre, ETL consiste en extraer, transformar y cargar datos en un almacén de datos. El punto es que la transformación puede convertirse en un cuello de botella cuando los datos alcanzan una escala muy grande. ELT entra aquí, los extrae, los carga y  los transforma después de cargarlos. Esto es muy útil para la ciencia de datos, ya que le permite utilizar el procesamiento de repositorios para la transformación de datos.

##**Parte 2: Selección y limpieza de los Datos en Python**

In [84]:
import pandas as pd
import numpy as np

Como primer paso nos encargamos de convertir el archivo csv que disponemos a data frame.

De esta forma podemos visualizar las primeras y últimas 5 filas de nuestro df.

In [85]:
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

La información que expone el df cuenta con 30 mil filas y 25 columnas, procedemos a validar registros nulos o faltantes.

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      29999 non-null  float64
 3   X3      29998 non-null  float64
 4   X4      29998 non-null  float64
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29995 non-null  float64
 8   X8      29993 non-null  float64
 9   X9      29991 non-null  float64
 10  X10     29984 non-null  float64
 11  X11     29986 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

In [87]:
variable = ['ID',
              'Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. ',
              'Gender (1 = male; 2 = female)',
              'Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)',
              'Marital status (1 = married; 2 = single; 3 = others)',
              'Age (year)',
              'the repayment status in September, 2005, The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above',
              'the repayment status in August, 2005',
              'the repayment status in July, 2005',
              'the repayment status in June, 2005',
              'the repayment status in May, 2005',
              'the repayment status in April, 2005',
              'amount of bill statement in September, 2005',
              'amount of bill statement in August, 2005',
              'amount of bill statement in July, 2005',
              'amount of bill statement in June, 2005',
              'amount of bill statement in May, 2005',
              'amount of bill statement in April, 2005',
              'amount paid in September, 2005',
              'amount paid in August, 2005',
              'amount paid in July, 2005',
              'amount paid in June, 2005',
              'amount paid in May, 2005',
              'amount paid in April, 2005',
              'the real probability of default as the response variable']
variable_name = {}
n = 0
for col in df.columns:
  variable_name[col] = variable[n]
  n = n + 1
variable_name

{'ID': 'ID',
 'X1': 'Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. ',
 'X2': 'Gender (1 = male; 2 = female)',
 'X3': 'Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)',
 'X4': 'Marital status (1 = married; 2 = single; 3 = others)',
 'X5': 'Age (year)',
 'X6': 'the repayment status in September, 2005, The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above',
 'X7': 'the repayment status in August, 2005',
 'X8': 'the repayment status in July, 2005',
 'X9': 'the repayment status in June, 2005',
 'X10': 'the repayment status in May, 2005',
 'X11': 'the repayment status in April, 2005',
 'X12': 'amount of bill statement in September, 2005',
 'X13': 'amount of bill statement in August, 2005',
 'X14': 'amount of bill statement in July, 2005',
 'X15': 'amount of bill statement in June, 2005',
 'X16': 'amount of bill statement in May, 2005',
 'X17': 'amount of bill statement in April, 2005',
 'X18': 'amount paid in September, 2005',
 'X19': 'amount paid in August, 2005',
 'X20': 'amount paid in July, 2005',
 'X21': 'amount paid in June, 2005',
 'X22': 'amount paid in May, 2005',
 'X23': 'amount paid in April, 2005',
 'Y': 'the real probability of default as the response variable'}

Mediante este diccionario podemos verificar a que corresponde el significado de cada variable del df. 

A continuación procedemos a validar la unicidad de cada ID, con el objetivo de verificar que no tengamos registros duplicados de un mismo cliente.

In [88]:
if df['ID'].count() == df["ID"].unique().size:
  print ("Tenemos los siguientes registros ID únicos: ", df["ID"].unique().size)
else: 
  print ("Existen registros algunos repetidos y solo tenemos registros ID únicos: ", df["ID"].unique().size)

Tenemos los siguientes registros ID únicos:  30000

Seguidamente vamos a corroborar que los valores de los montos de crédito otorgados sean coherentes con el sentido del contexto en el cual estamos, es decir no deberíamos encontrar valores negativos.

In [89]:
df_new = df.copy()
(df_new['X1'].values < 0).sum()

0

Con esta validación verificamos cuales variables cuentan con valores nulos.

In [90]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [91]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]

print(rows_with_NaN)

          ID      X1   X2   X3   X4    X5   X6   X7   X8   X9  ...       X15  \
18        19  360000  2.0  1.0  1.0  49.0  1.0 -2.0 -2.0 -2.0  ...       NaN
38        39   50000  1.0  1.0  2.0  25.0  1.0 -1.0 -1.0 -2.0  ...       0.0
49        50   20000  1.0  1.0  2.0  24.0  0.0  0.0  0.0  0.0  ...   19865.0
64        65  130000  2.0  2.0  1.0  51.0 -1.0 -1.0 -2.0 -2.0  ...       0.0
160      161   30000  1.0  1.0  2.0  41.0  2.0  2.0  2.0  NaN  ...   28168.0
173      174   50000  2.0  1.0  2.0  24.0  1.0 -2.0 -2.0 -2.0  ...   -2898.0
175      176  130000  1.0  3.0  1.0  56.0  1.0  2.0  2.0  2.0  ...   68557.0
182      183  500000  2.0  1.0  1.0   NaN  0.0  0.0  0.0  0.0  ...  122967.0
219      220  310000  2.0  1.0  2.0   NaN -1.0 -1.0 -1.0 -1.0  ...       0.0
233      234  190000  1.0  2.0  2.0  34.0  2.0  0.0  0.0  0.0  ...  142323.0
239      240  140000  2.0  2.0  3.0   NaN  0.0  0.0  0.0  0.0  ...   19068.0
240      241   60000  2.0  1.0  2.0  28.0  1.0  2.0  2.0 -2.0  ...       0.0
245      246   20000  2.0  2.0  2.0  40.0  0.0  0.0  0.0  0.0  ...   19575.0
246      247  250000  2.0  2.0  1.0  75.0  0.0 -1.0 -1.0 -1.0  ...    1010.0
247      248  100000  2.0  2.0  2.0  27.0  0.0  0.0  0.0  0.0  ...   30337.0
6227    6228   30000  1.0  NaN  NaN   NaN  NaN  NaN  NaN  NaN  ...       NaN
6232    6233   60000  2.0  2.0  2.0  29.0  2.0  2.0  2.0  0.0  ...       NaN
6268    6269  120000  1.0  2.0  2.0  29.0  1.0  2.0  0.0  0.0  ...   91380.0
6269    6270  400000  2.0  1.0  2.0  27.0  1.0 -2.0 -1.0  0.0  ...   12640.0
6270    6271   50000  2.0  1.0  1.0  55.0  0.0  0.0  0.0  0.0  ...   19431.0
6276    6277   30000  1.0  3.0  1.0  32.0  0.0  0.0  0.0  0.0  ...       NaN
6277    6278  110000  2.0  1.0  2.0  32.0  1.0  2.0  0.0  0.0  ...       NaN
6278    6279   20000  2.0  3.0  2.0  54.0  0.0  0.0  2.0  2.0  ...       NaN
6382    6383   80000  2.0  2.0  1.0  30.0  1.0  2.0  0.0  0.0  ...   75374.0
6383    6384   90000  1.0  2.0  2.0  29.0  0.0  0.0  0.0  0.0  ...   69362.0
6384    6385   20000  2.0  2.0  2.0  22.0  0.0  0.0  0.0  0.0  ...   20055.0
17989  17990   80000  1.0  2.0  1.0  46.0  0.0  0.0  NaN  0.0  ...   64237.0
17990  17991   50000  1.0  3.0  2.0  41.0  0.0  0.0  0.0  0.0  ...   50269.0
18003  18004   70000  1.0  2.0  2.0  33.0  1.0  2.0  NaN  7.0  ...   38922.0
23943  23944   20000  1.0  2.0  2.0  24.0  0.0  0.0  2.0  3.0  ...   17755.0
23990  23991   60000  1.0  2.0  2.0  26.0  0.0  0.0  0.0  NaN  ...   58938.0
23991  23992   50000  1.0  3.0  2.0  25.0  0.0  0.0  0.0  NaN  ...   49485.0
23992  23993   50000  1.0  2.0  2.0  24.0  0.0  0.0  0.0  NaN  ...   41286.0
24123  24124   50000  1.0  1.0  2.0  29.0  NaN  NaN  NaN  NaN  ...       NaN
24365  24366  130000  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  ...       NaN
29733  29734  300000  1.0  2.0  1.0  37.0 -2.0 -2.0 -1.0 -1.0  ...       NaN
29734  29735  500000  1.0  2.0  1.0  49.0 -1.0 -1.0  2.0 -1.0  ...       NaN
29735  29736   50000  1.0  3.0  1.0  40.0  2.0  0.0  0.0  0.0  ...       NaN
29824  29825   40000  1.0  1.0  1.0  47.0  2.0  2.0  2.0  2.0  ...       NaN
29825  29826   50000  1.0  2.0  1.0  41.0  0.0  0.0  0.0  0.0  ...       NaN
29832  29833   20000  1.0  2.0  2.0  30.0  0.0  NaN  NaN  NaN  ...       NaN
29833  29834   20000  1.0  2.0  2.0  31.0 -1.0  NaN  NaN  NaN  ...       NaN

            X16       X17      X18      X19      X20      X21      X22  \
18          NaN       NaN      0.0      0.0      0.0      0.0      0.0
38          0.0       NaN    780.0      0.0      0.0      0.0      0.0
49      20480.0   20063.0   1318.0   1315.0    704.0    928.0    912.0
64       2353.0       0.0      0.0      NaN      0.0   2353.0      0.0
160     27579.0   28321.0   3500.0      0.0   2200.0      NaN   1200.0
173     -3272.0   -3272.0      0.0      0.0      0.0      NaN      0.0
175         NaN   71345.0   3000.0   3000.0   3000.0   5500.0      0.0
182    108834.0   70064.0  70010.0  30357.0  30000.0  20000.0  52183.0
219         0.0       0.0   4542.0    126.0      0.0      0.0      0.0
233    140120.0  150052.0   5000.0   5000.0  10000.0      0.0  12118.0
239     16409.0   16383.0   3000.0   2000.0   2198.0   1000.0   3000.0
240         NaN    2285.0      0.0      0.0      0.0      0.0   2285.0
245         0.0       0.0   1601.0   2203.0   2114.0      NaN      NaN
246      5572.0     794.0   1631.0   1536.0   1010.0   5572.0      NaN
247     30997.0   32904.0   1788.0   1799.0   1100.0   1150.0   2423.0
6227        NaN   21120.0   1586.0   1365.0   1663.0   5106.0   1050.0
6232        NaN       NaN      NaN      NaN      NaN      NaN      NaN
6268    93263.0   95079.0      0.0   3200.0   6800.0   3500.0   3500.0
6269    14805.0     238.0    140.0  12527.0    253.0   2305.0    238.0
6270    19837.0   20232.0   1775.0   1815.0    695.0    719.0    724.0
6276        NaN    1400.0   3000.0   1431.0    483.0      0.0    700.0
6277        NaN   25453.0   1210.0   2056.0   1200.0   2300.0      0.0
6278        NaN    9116.0   2000.0   1000.0   1000.0      0.0    500.0
6382    77158.0   78710.0      0.0   3299.0   2699.0   3000.0   2987.0
6383    70537.0   56775.0   4400.0   4111.0   2100.0   2200.0   2510.0
6384    19606.0   19925.0   1298.0   1909.0   1666.0   5000.0    703.0
17989   47890.0   48036.0   3542.0   3500.0   2500.0   2000.0   2500.0
17990   29182.0   29096.0   4200.0   2200.0   3300.0   1200.0   1100.0
18003   38318.0   38133.0  12000.0      0.0   2500.0      0.0   1000.0
23943   17967.0   17538.0   3200.0   2200.0      0.0    800.0      NaN
23990   30101.0   29735.0   2113.0   2500.0   3000.0   2500.0   1500.0
23991   49083.0   45187.0   2100.0   2200.0   3500.0   2000.0      0.0
23992   16764.0   16960.0   2150.0   2352.0   1239.0    717.0    585.0
24123       NaN       NaN      NaN      NaN      NaN      NaN      NaN
24365       NaN       NaN      NaN      NaN      NaN      NaN      NaN
29733       NaN       NaN      NaN      NaN      NaN      NaN      NaN
29734       NaN       NaN      NaN      NaN      NaN      NaN      NaN
29735       NaN       NaN      NaN      NaN      NaN      NaN      NaN
29824       NaN       NaN      NaN      NaN      NaN      NaN      NaN
29825       NaN       NaN      NaN      NaN      NaN      NaN      NaN
29832       NaN   20090.0   1279.0   3000.0   6668.0    468.0    507.0
29833       NaN   19103.0    390.0    780.0      0.0    806.0  19103.0

           X23    Y
18         0.0  0.0
38         0.0  1.0
49      1069.0  0.0
64         0.0  0.0
160     1250.0  0.0
173        0.0  1.0
175        0.0  1.0
182    20000.0  0.0
219        0.0  0.0
233     2769.0  1.0
239     2399.0  1.0
240        0.0  0.0
245        0.0  0.0
246        NaN  0.0
247        NaN  0.0
6227       0.0  0.0
6232       NaN  NaN
6268       0.0  1.0
6269     238.0  0.0
6270     750.0  0.0
6276       0.0  0.0
6277    1000.0  1.0
6278     500.0  0.0
6382    3100.0  0.0
6383    2000.0  0.0
6384     775.0  0.0
17989   2000.0  0.0
17990   1100.0  0.0
18003   1500.0  0.0
23943   1401.0  0.0
23990   1100.0  0.0
23991   5151.0  0.0
23992    589.0  0.0
24123    360.0  0.0
24365    390.0  0.0
29733   3081.0  0.0
29734    237.0  1.0
29735    406.0  1.0
29824      NaN  NaN
29825      NaN  NaN
29832   5582.0  0.0
29833   1000.0  1.0

[42 rows x 25 columns]

Con este resultado podemos identificar que 42 filas cuentan con valores nulos de las 30000 en total.

Procedemos a generar un dataset nuevo sin estos valores nulos.

In [92]:
df_new = df.copy()
df_new.dropna(inplace = True)

Vamos a validar si los valores nulos se eliminaron correctamente.

In [93]:
df_new.isnull().sum()

ID     0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

In [94]:
largo_df=len(df)
largo_df_new=len(df_new)
print("Número de filas del dataset original:",largo_df)
print("Número de filas del dataset con registros nulos:",largo_df_new)

Número de filas del dataset original: 30000
Número de filas del dataset con registros nulos: 29958

Procedemos a verificar que porcentaje de los datos fueron disminuidos en el nuevo dataset, para establecer la proporción de diferencia.

In [95]:
print(100-((largo_df_new*100)/largo_df))

0.14000000000000057

De acuerdo a este resultado puedo identificar que los registros que se eliminarían al omitir los datos nulos, corresponden a un 0.14% del total del dataset. Al eliminar este 0.14% podemos asegurar que estadisticamente nuestro dataset no se verá afectado.

In [96]:
df_new.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,15005.550504,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,8654.547473,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7516.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,15005.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22497.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

Tomando este información y analizando cada una de las columnas podemos iniciar a verificar cada columna para validar sus datos y modificarlos, ajustarlos o darle el tratamiento adecuado según corresponda.


- **X3 (Educación)**, solo puede contener valores de 1 al 4 y en el dataset el minimo es de cero y el máximo de 6, por lo que se deben reemplazar los valores 0, 5 y 6 con 4 (que es la categoría de otros estudios).

- **X4 (Marital)** tiene 3 valores, que son 1, 2 y 3, sin embargo en el dataset también se presentan valores 0, mismos que deben ser reemplazados con 3 (que simboliza otros dentro de esa columna).

- **De X6 a X11 (Fechas de pago)** los valores dentro de la columna deben ser -1, 1, 2, 3, 4, 5, 6, 7, 8 y 9, sin embargo se presentan valores con -2, mismos que se pueden reemplazar con -1, debido a que muy probablemente sean errores de captura.

In [97]:
df_new2=df_new.copy()

Primero trabajaremos la columna de Educación X3 para quedar con los valores correspondientes entre el 1 y el 4.

In [98]:
df_new2.X3.unique()

array([2., 1., 3., 5., 4., 6., 0.])

In [99]:
df_new2["X3"] = df_new2[["X3"]].replace([0,5,6],4)

In [100]:
df_new2.X4.unique()

array([1., 2., 3., 0.])

In [101]:
df_new2["X4"] = df_new2[["X4"]].replace(0,3)
df_new2.X4.unique()

array([1., 2., 3.])

Para las columnas de X6 a X11 sustituiremos el valor de -2 por -1 las cuaes corresponden a pago oportuno.

In [102]:
ajust_pago = df_new2.loc[ : , "X6":"X11"]
for c in ajust_pago.columns:
  df_new2[c] = df_new2[[c]].replace(-2,-1)

De esta forma ahora podemos visualizar las columnas con sus valores y si estas tienen los datos correspondientes a lo definido en la explicación de cada variable.

In [103]:
columns_enfasis=df_new2.loc[:,"X3":"X11"]
for i in columns_enfasis.columns:
   unic_values=df_new2[i].unique()
   print(df_new2[i].name,": ",sorted(unic_values))

X3 :  [1.0, 2.0, 3.0, 4.0]
X4 :  [1.0, 2.0, 3.0]
X5 :  [21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 79.0]
X6 :  [-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X7 :  [-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X8 :  [-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X9 :  [-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X10 :  [-1.0, 0.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X11 :  [-1.0, 0.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]

Entre las columnas de X6 a X11 vemos que presentan valores 0 los cuales no estan definidos dentro de la explicación de las variables, por lo que procederemos a cambiarlo por 1, ya que probablemente se debió a un error de digitación.

In [104]:
columns_enfasis = df_new2.loc[ : , "X6":"X11"]
for c in columns_enfasis.columns:
  df_new2[c] = df_new2[[c]].replace(0,1)

In [105]:
columns_enfasis=df_new2.loc[:,"X3":"X11"]
for i in columns_enfasis.columns:
   unic_values=df_new2[i].unique()
   print(df_new2[i].name,": ",sorted(unic_values))

X3 :  [1.0, 2.0, 3.0, 4.0]
X4 :  [1.0, 2.0, 3.0]
X5 :  [21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 79.0]
X6 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X7 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X8 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X9 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X10 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X11 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]

In [106]:
print('Valores menores a 0: ' + str((df_new2.iloc[:,18:23].values < 0).sum()))

Valores menores a 0: 0

Con este paso validamos que estas columnas que representan los pagos realizados sean con valores positivos.

Ahora verificamos las columnas despues de la transformación.

In [107]:
df_new2.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,15005.550504,167555.900928,1.604012,1.842212,1.557147,35.483443,0.566193,0.516456,0.494960,0.472328,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,8654.547473,129737.299088,0.489070,0.744557,0.521388,9.214319,1.076167,1.153467,1.153255,1.142171,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,1.000000,10000.000000,1.000000,1.000000,1.000000,21.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7516.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,15005.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,1.000000,1.000000,1.000000,1.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22497.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,1.000000,1.000000,1.000000,1.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,4.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

De esta forma ya obtenemos nuestro dataset depurado y listo para ser trabajado.


###**Parte 3: Preparación de los datos**

**1. ¿Qué datos considero mas importantes? ¿Por qué?**

Creo que el nivel de educación es moderadamente importante porque puede dar una idea relativa de los ingresos de una persona. Estas variables toman en cuenta el monto pagado y el monto adeudado para dar una idea del flujo de dinero que está generando un individuo. En general, el dato que considero más importante es el historial de pagos pasados ​​[X6:X11], que muestra si pagó a tiempo y cuánto se retrasó. Por la presente, las obligaciones relativas al pago y las previsiones.

 **2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

Se eliminaron todas las filas con valores nulos, ya que despues de analizar el porcentaje correspondiente a el total de filas con valores nulos respecto al total de filas del dataset, se pudo evidenciar que correspondía a un 0.14% por lo tanto la eliminación de estas no generaría un cambio que alerara significativamente nuestro dataset para un posterior analisis del modelo de datos.

**3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**

No parece necesario hacerlo si la pregunta se refiere a realizarlo de una forma ascendente o descendente ya que al ser 30 mil filas es complejo identificar detalles al hacerlo de esta forma, pero si es muy necesario un orden general, entendiendo este orden como una estandarización y aseguramiento de que los valores de las variables correspondan a lo debido, que no se presenten valores que no coincidan con el alcance que la variable pretende representar.

**4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

Sí, hay problemas que deben resolverse antes de proceder con el modelado. Por ejemplo,si la edad asignada es adecuada (que se denote una mayoría de edad), el monto de la deuda, los pagos vencidos ​​y el historial de pagos no deben ser negativos. Esto se tuvo que hacer porque si el valor estaba fuera del rango normal definido por la misma descripción de la variable, simplemente era un dato inexistente o inválido para esa clasificación. Un ejemplo de tal corrección es la opción 'Otro' que se seleccionó en la categoría Marital (al reasignar los datos que no estaban dentro de las opciones de clasificación).

**5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

En este caso, comenzamos a trabajar en los valores atípicos. Cada columna define qué valores son posibles. Para  la columna "Educación" en X3, encontré valores en 0, 5, 6, así que  la convertí en "4=Otro". La columna de estado civil en X4 solo tiene opciones para los valores  1, 2 y 3. Sin embargo, encontré unos valores de 0, así que lo puse en la variable "3=otro". Para X6-11 no existen valores inferiores a -1. Por lo tanto, todos los valores negativos se supusieron iguales a -1. Esto se debe a que un valor de -1 equivale al hecho de que  el pago se realizó a tiempo, y un valor superior a 0 equivale a la cantidad de meses que se retrasó el pago.En esta variables tambien se encontraron valores en 0, los cuales no estaban definidos según las correspondencias de esta variable por lo que se asumieron como un eror de digitación y se llevaron a 1.En la práctica, tendríamos que ver cómo se recolectaron los datos para confirmar esta suposición, pero esta sustitución se hizo en el ejercicio.

**Referencias:**

- Kane, F. (2017). Hands-On Data Science and Python Machine Learning. Packt Publising Ltd.

- Teate, R. M. (2021). SQL for Data Scientiests. Wiley

- https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d